@media (min-width: 544px) {
    html,
    body,
    .view {
        height: 100%;
    }
    .view {
        background: url("https://images.unsplash.com/photo-1443180683100-fbb2c471775e?dpr=2&auto=format&fit=crop&w=1500&h=998&q=80&cs=tinysrgb&crop=")no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .card-cascade {
        width: 300px;
        height: auto;
    }
}
